@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 274 36% 61%;
    --primary-foreground: 274 36% 61%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* --badge: 191 97% 77%; */
    --badge: 19 100% 49%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 231 15% 18%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 274 36% 61%;
    --primary-foreground: 274 27% 51%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 230 15% 24%;
    --accent-foreground: 0 0% 98%;

    --button-accent: 218 12% 25%;
    --badge: 218 12% 25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .containerM {
    @apply px-[10vw] xl:px-[3vw] lg:px-0;
  }

  .nav_bar_container {
    @apply fixed bottom-0 left-1/2 z-999 flex max-h-[40px] w-full max-w-[440px] -translate-x-1/2 -translate-y-1/2 transform items-center rounded-2xl bg-[rgba(0,0,0,0.3)] p-2 text-lg backdrop-blur-md;
  }

  .noisee {
    @apply pointer-events-none absolute bottom-0 left-0 right-0 top-0 -z-20 rounded-xl opacity-0 mix-blend-overlay;
  }

  .nav_icon {
    @apply flex cursor-pointer items-center justify-center rounded-lg px-2.5 py-[1px]  transition-colors  hover:bg-background/30;
  }

  .nav_btn {
    @apply relative z-100  flex items-center rounded-lg px-2.5  py-[1px] font-semibold text-white opacity-90 transition-colors  hover:bg-background/20;
  }

  .select_btn_genres {
    @apply m-2.5 h-7;
  }

  .select_btn_status {
    @apply m-2.5 h-7 w-full justify-start;
  }
  .select_btn_lang {
    @apply m-2.5 h-7 w-3/4 justify-start;
  }
  .select_btn_sort {
    @apply m-2.5 h-7 w-4/5 justify-start;
  }
  .swiper-button-next {
    @apply left-0 !bg-orange-600;
  }
  /* asdasda */
  .embla {
    @apply relative mb-8 cursor-grab overflow-hidden md:mb-2;
  }
  .embla__container {
    @apply relative z-10 box-content flex w-full;
  }
  .embla__slide {
    @apply relative   flex flex-shrink-0 flex-grow-0 overflow-hidden rounded-2xl bg-cover  bg-no-repeat;
  }
  .embla__prev {
    @apply absolute top-[20vh] z-999 flex h-40 w-20 cursor-pointer items-center justify-center  md:top-10;
  }
  .embla__next {
    @apply absolute right-0 top-[20vh] z-999 flex h-40 w-20  cursor-pointer items-center justify-center  md:top-10;
  }
  .disabled_link {
    @apply pointer-events-none opacity-40;
  }
}
